<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399570332069-56rel40uk2js5rckj8lb964a5fuu9p4j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399570332069-56rel40uk2js5rckj8lb964a5fuu9p4j</string>
	<key>API_KEY</key>
	<string>AIzaSyB8xGsguIUNhC0ctHkjFICwXoT6IBsty2I</string>
	<key>GCM_SENDER_ID</key>
	<string>399570332069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.etna.PictIonis</string>
	<key>PROJECT_ID</key>
	<string>pictionis-6aadf</string>
	<key>STORAGE_BUCKET</key>
	<string>pictionis-6aadf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399570332069:ios:e001b7098170b4878a204c</string>
	<key>DATABASE_URL</key>
	<string>https://pictionis-6aadf.firebaseio.com</string>
</dict>
</plist>